html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% =10px de 16 px -- esto se usa para pasar de px a rem, se debe indicar acá para que funcione*/
    box-sizing: border-box;
    /* ayuda a mantener los tamaños con lox box y los paddings*/
}

*,
*:before,
*:after {
    /* SE LLAMA SNIPERS ayuda a mantener los tamaños con lox box y los paddings*/
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    /* hace que toda la pagina tenga interlineado para que se vea mejor */
}


/** Globales **/

img {
    /* esta etiqueta aplica para todas las imagenes, esto hace que todas sean responsivas*/
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    /* 120rem = 1200px*/
    /* altura máxima*/
    /*margin-left: auto;
    margin-right: auto; /* ambos margin son margenes automáticos según el tamaño de la pantalla y esto lo centrará*/
    /*margin: 0 auto 0 auto; /* hace lo mismo que arriba pero es un solo margin, se usa como el reloj considerando 4 puntos (arriba derecha abajo izquierda)*/
    margin: 0 auto;
    /* esta es la forma simplificada del de arriba, se debe a la repetición*/
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** Utilidades **/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    /* crear un framework. Esta es una clase que aplica font weight de 300*/
    font-weight: 300;
}

.centrar-texto {
    /* crear un framework. Esta es una clase que centra el contenido. Ambas clases se pueden usar juntas y en distintas combinaciones con otras clases*/
    text-align: center;
}

.d-block {
    display: block!important;
    /* sirve para planchar el display que está en .boton. important le da prioridad al display*/
}

.contenido-centrado {
    /* para que el texto de anuncio.html quede más centrado y se vea mejor*/
    max-width: 800px;
}


/** Botones **/

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    /* esto quita la linea de enlace de abajo*/
    font-size: 1.8rem;
    padding: 1rem 3rem;
    /* espacio interno entre boton y texto del boton, 1 arriba y abajo y 3 izq y derecha*/
    margin-top: 3rem;
    display: inline-block;
    /* esto sirve para manejar el boton, no sirve otro medio ya que es un enlace*/
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
    /* para que cuando pase el cursor sobre el botón se vea una mano*/
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}


/** Header **/

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
    /* 1 arriba, 0 a la derecha, 3 abajo, 0 a la izquierda*/
}

.site-header.inicio {
    /* acá estoy llamando a dos clases juntas, ejecutará sólo si se cumplen ambas*/
    background-image: url(../img/header.jpg);
    /* va a la carpeta donde está la imagen*/
    background-position: center, center;
    /* muestrala desde el centro y expande, eso es center center*/
    background-size: cover;
    /*fuerza a que ocupe todo el espacio disponible tanto en alto y ancho pero siempre guardando las proporciones*/
    height: 100vh;
    /* 100vh adapta la imagen al tamaño de la pantalla*/
    min-height: 60rem;
    /* =600px */
    /* minimo la imagen de arriba se verá en pantalla pequeña minimo de 600px, maximo será la pantalla completa*/
}

.contenido-header {
    height: 100%;
    /* que ocupe todo el espacio disponible*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* hace la separación entre el logo y el h1 para que uno quede arriba y el otro abajo*/
    text-align: center;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    /* Espacio hacia adentro del elemento */
    max-width: 60rem;
    line-height: 2;
    /* Interlineado entre frase venta de casas y exclusivo de lujo*/
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.barra {
    padding-top: 3rem;
    /* = 30px */
    /* deja espacio entre el logo-menu y el comienzo del sitio*/
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        /* todo lo que está en barra tiene tratamiento de flex */
        justify-content: space-between;
        /* deja un gran espacio entre el elemento de la derecha y la izquiera (logotipo y menú)*/
        align-items: center;
        /* esto hace que el menú quede justo centrado a bienes raices, centrado de arriba a abajo*/
    }
}


/** Navegación **/

.navegacion a {
    color: #ffffff;
    /*  color de las letras */
    text-decoration: none;
    /* Elimina la linea de abajo de  los elementos del menu*/
    font-size: 2.2rem;
    display: block;
    /* hace que cada uno de los enlaces este en su propia linea*/
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        /* 1.8rem es igual a 18px */
        /* tamaño de la fuente */
        margin-right: 2rem;
        /* =20px */
        /* separación con el siguiente elemento (a la derecha en este caso)*/
    }
    .navegacion a:last-of-type {
        margin: 0;
        /* esto hace que el úlitmo elemento del menú no tenga margin (no tiene separador) a la derecha, así queda ordenado*/
    }
}

.navegacion a:hover {
    color: #71B100;
    /* esto hace que al momento de poner el cursor sobre el menu las palabras se pongan verde*/
}


/** Mobile Menu **/

.mobile-menu img {
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.navegacion:target {
    display: block;
}

.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}


/** Iconos Nosotros **/

@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        /* posiciona los iconos uno junto a otro*/
        justify-content: space-between;
        /* ordena los elementos en columnas y da separación*/
    }
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
        /* toma el espacio total y lo divide en tres, para que quede en partes iguales y le restará a cada uno 10px (1rem)*/
    }
}

.icono h3 {
    text-transform: uppercase;
    /* dejará el texto en mayúsculas */
}


/** Anuncios **/

@media (min-width: 768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* se trabaja junto a flex shrink, flex wrap se indica en el contenedor padre, permite que se amolden los 6 anuncios en dos filas de 3 anuncios cada una*/
    }
}

.anuncio {
    border: 1px solid #B5B5B5;
    /*border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px; estos tres se pueden simplificar como se ve abajo y los atributos irian en ese orden (widt, style, color)*/
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio {
        /*flex-shrink: 0; /* esto hace que siempre respete el flex basis sin achicar, para el caso del anuncios.html y no queden los 6 en la misma linea - para que se achique si es posible, respetando el basis
    flex-basis: calc(33.3% - 1rem);/* divide el espacio en tres
    flex-grow: 0; hace que el contenido crezca si es posible, si hay espacio que lo permita*/
        flex: 0 0 calc(33.3% - 1rem);
        /* ESTO HACE LOS MISMO QUE LAS TRES ANTERIORES, en el orden de grow, shrink y luego basis*/
    }
}

.contenido-anuncio {
    padding: 2rem;
    /* espacio entre texto y orilla izquierda y derecha del anuncio. Este padding considera arriba, derecha, abajo, izquierda, las 4 direcciones tendrán el mismo tamaño */
}

.contenido-anuncio h3,
.contenido-anuncio p {
    /* aquí considera a dos selectores */
    margin: 0;
    /* evita los margenes de distancia, ayuda a que el texto quede más junto*/
}

.precio {
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    /* para que creza pero siempre limitado por el max-width de 500px*/
    max-width: 500px;
}

.iconos-caracteristicas li {
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/** Contacto HOME **/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    /* para que se centre verticalmente*/
}

.contenido-contacto {
    flex: 0 0 95%;
    /* asigna el tamaño según la cantidad de pixeles disponibles del elemento*/
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/** Sección inferior **/

@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
        /* 60% del espacio usado por blog */
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
        /* 40% del espacio usado por blog */
    }
}

.entrada-blog {
    margin-bottom: 2rem;
    /* separación con el siguiente elemento*/
}

@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}

.texto-entrada a {
    color: #000000;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
    /* Interlineado del título h4*/
}

.texto-entrada h4::after {
    /* estos son pseudoelementos, quiere decir, que sólo existen de manera virtual, no están en un doc html - after es después de lo que se indica*/
    content: '';
    /* esto es para crear la linea verde por eso va vacío */
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #E08709;
}


/** Testimoniales **/

.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before {
    /* estos son pseudoelementos, quiere decir, que sólo existen de manera virtual - before es antes de lo que se indica, esto pondrá las " blancas*/
    content: '';
    /* está vacio para poner la imagen de las comillas */
    background-image: url(/img/comilla.svg);
    width: 4rem;
    /* hay que darle medición, sino no se verá */
    height: 4rem;
    /* hay que darle medición, sino no se verá */
    position: absolute;
    left: -2rem;
    /* pone a la comilla 20px a la izquierda del texto*/
}

.testimonial blockquote {
    position: relative;
    /* ayuda a posicionar un elemento, debe trabajarse con el elemento padre "blacquote" como relativo y el hijo "blackquote before" como absoluto*/
    padding-left: 5rem;
    /* da ese espacio interno entre el contenedor y el texto, dando el espacio para poner la comilla */
    font-weight: 300;
    /* dejará la letra más delgada*/
}


/*** Footer ***/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    /* 3 arriba y abajo, 0 a la izq y derecha */
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav {
    display: none;
}

@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/**** PAGINAS INTERNAS ****/


/** Nosotros **/

@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        /* permite dividir la pagina (el contenedor, la clase, etc)*/
        grid-template-columns: 50% 50%;
        /* esto deja 50% para la imagen, 50% para el texto*/
        /*grid-template-columns: repeat(2, 50%); esto es lo mismo de arriba, escrito de otra forma. 2 espacios de 50% c/u*/
        grid-column-gap: 2rem;
        /* esto sería el margin-padding, agrega separación entre el texto y la foto*/
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}


/** Anuncio **/

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    /* esto hace que precio e iconos queden a la misma altura*/
    align-items: center;
    /* alinea el precio para que quede al medio de los iconos (que están al frente) */
}


/** Contacto **/

.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
    /* todos los párrafos por defecto tienen margin, hay que quitarlos cuando molestan, en este caso, hace que se vea muy separado el parrafo de los radios, solo dejamos margin arriba*/
}

legend {
    font-size: 2rem;
    color: #555353;
}

label {
    font-weight: 700;
    /* da grosor a la fuente */
    text-transform: uppercase;
    /* que todas sean mayusculas*/
    display: block;
    /* hace que los inputs no estén unos sobre los otros*/
}


/*input[type="text"], 
input[type="email"] Esta es una forma de hacerlo, aunque no es la más practica, si tienes chorromil tipos, te toca ponerlos todos*/

input:not([type="submit"]),
textarea,
select {
    /* Esta forma te deja indicar CUALES NO quieres dar forma, en este caso, es el botón enviar.- Este formato se aplica a todos los inputs(-submit) + textarea*/
    padding: 1rem;
    display: block;
    /* para que tome todo el espacio disponible */
    width: 100%;
    /* fuerza que mida el 100%*/
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    /* va separando de cada caja*/
    border: none;
    /*quita el borde feo xD*/
    border-radius: 1rem;
    /*esquinas redondeadas*/
}

input[type="radio"] {
    width: auto;
    /* toma solo el espacio que necesitas, no tomes más*/
    margin: 0;
}

select {
    /* esto se pone aparte para que el formato convine con todo el formulario*/
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
    /* para darle altura a la casilla mensaje */
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    /* para que se ponga un radio al lado de la otra */
    justify-content: space-between;
    /* para dar el mismo espacio entre radios*/
    align-items: center;
    /* para que se centren verticalmente */
}